/* maybe problem with (vh) */

.home {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.player {
    width: 100%;
    height: 90px;
    background-color: #000;
    position: fixed;
    bottom: 0;

}

.home section {
    width: 99%;
    height: 98%;
    display: flex;
    justify-content: space-between;
}

.home section .left {
    width: 420px;
    height: 100%;
}

.home section .left nav {
    width: 100%;
    height: 112px;
    background: #121212;
    border-radius: 10px;
}

.home section .left nav ul {
    width: 100%;
    height: 100%;
    padding: 8px 12px;
}

.home section .left nav ul li {
    width: 100%;
    height: 50%;
    padding: 4px 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: CircularSp-Book, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    color: #B3B3B3;
}

.home section .left nav ul li i {
    font-size: 20px;
}

.home section .left .library {
    margin-top: 8px;
    width: 100%;
    height: 521px;
    background: #121212;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.home section .left .library .library-navigatin {
    width: 100%;
    height: 104px;
    position: sticky;
    top: 0;
    background-color: #121212;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .6);
}

.home section .left .library .library-navigatin .navigation-title {
    width: 100%;
    height: 50%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home section .left .library .library-navigatin .navigation-title .title-left {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: CircularSp-Book, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    color: #B3B3B3;
}

.home section .left .library .library-navigatin .navigation-title .title-right {
    display: flex;
    gap: 20px;
}

.home section .left .library .library-navigatin .navigation-title .title-right .plus {
    width: 32px;
    height: 32px;
    border-radius: 99px;
    font-size: 20px;
    color: #B3B3B3;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.home section .left .library .library-navigatin .navigation-title .title-right .rightBtn {
    width: 32px;
    height: 32px;
    border-radius: 99px;
    font-size: 20px;
    color: #B3B3B3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home section .left .library .library-navigatin .navigation-info {
    width: 100%;
    height: 48px;
    margin: 8px 16px;
}

.home section .left .library .library-navigatin .navigation-info .nav-filter {
    padding: 4px 12px;
    border-radius: 9999px;
    background-color: #FFFFFF12;
    font-size: 14px;
    font-family: CircularSp-Book, sans-serif;
    color: #fff;
    cursor: pointer;
}

.home section .left .library .library-list {
    width: 100%;
    height: 100%;

}

.home section .left .library .library-list header {
    width: 100%;
    padding: 2px 4px 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home section .left .library .library-list header .search-btn {
    padding: 4px 8px;
    margin: 4px 8px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}



.home section .left .library .library-list header .resent-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    margin: 4px 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}


.home section .left .library .library-list ul {
    width: 100%;
    height: auto;
}


.home section .left .library .library-list ul li {
    width: 100%;
    height: 64px;
    cursor: pointer;
    padding: 4px 8px;
}


.home section .left .library .library-list ul li .list {
    width: 100%;
    height: 100%;
    padding: 4px 8px;
    background-color: aqua;

}

.home section .left .library .library-list ul li .list:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
}

.home section .left .library .library-list ul li .list .list-image {
    width: 48px;
    height: 48px;
    border-radius: 7px;
}



/* right ===============================*/


.home section .right {
    width: 1092px;
    height: 200vh;
    overflow: scroll;
    background-color: #121212;
    border-radius: 10px;
}